body{
    margin: 0px;
    width: 100%;
    background-image: linear-gradient(to right, yellow , red);
}

#Banner{
    width: 100%; /* Ancho del banner */
    height: 100%; /* Altura del banner */
    border: 2px solid black; /* Borde sólido de 2px de ancho y color negro */
   
   
}

#titulo{
    text-align: center;
    margin-top: -30vh;
    color: gold;
    font-size: 8rem;
    font-family: "Metal Mania";
}

#primera{    
    width: 100%;
    margin-top: 20vh;
    display: grid;
    justify-content: space-around;
    margin-bottom: 5vh;
    font-size: 1.5rem;
}

#cargaSeleccion {
    text-align: left;
    align-self: center;
}

#desplegable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

article > input{
    margin-right: 2vw;
    margin-left: 2vw;
}

#botones {
    display: grid;
    margin-left: 10px;
}

.boton {
    border: solid 2px black;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    border-radius: 15px;
    cursor: pointer;
}

#presentacion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5vh;
}

.personajesList{
    background-color: transparent;
    border-radius: 10px;
    padding: 1vh 1vw;
    margin-top: 2vh;
}

.comicsList{
    background-color: transparent;
    border-radius: 10px;
    padding: 1vh 1vw;
    margin-top: 2vh;
}

#centrar {
    display: flex;
    justify-content: center;
}

#presentacion {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
}

#personajes {
    display: grid;
    justify-items: center;
    padding: 20px 10px;
    align-self: flex-start;
}

#personaje {
    border-radius: 25px;
    display: grid;
    justify-items: center;
    padding: 20px 10px;
    align-self: flex-start;
}

#img_create {
    height: 300px;
    border-radius: 25px;
    margin-bottom: 5px;
}

#name_create {
    font-size: 2rem;
    text-align: center;
}

#description_create {
    font-size: 1.2rem;
    text-align: justify;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 10px;
    justify-items: center;
}

@media (max-width: 1600px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1250px) {
    #cards {
        grid-template-columns: 1fr;
    }
}
  

.comic {
    display: grid;
    background-color: rgb(226, 223, 43);
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

.comic_image {
    border-radius: 25px;
    height: 300px;
    margin-bottom: 5px;
    justify-self: center;
}

.comic_name {
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
}

.comic_description {
    margin-top: 15px;
    text-align: justify;
    font-size: 1.2rem;
}
/*FUEGO FONDO*/

.fire {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events:none;
    background: radial-gradient(circle, #ff9300, #ff3300, #ad0000);
    animation: flicker 0.9s infinite alternate-reverse;
}

@keyframes flicker {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}

  /*//////////////////////////*/