body {
    margin: 0px;
    width: 100%;
    background-image: linear-gradient(to right, yellow , red);
}

#Banner {
    width: 100%;
}

#titulo {
    text-align: center;
    margin-top: -30vh;
    color: gold;
    font-size: 8rem;
    -webkit-text-stroke: 2px black;
    font-family: "Metal Mania";
}

input {
    background-color: transparent;
    border-radius: 15px;
    padding-left: 12px;
    margin-right: 2vw;
    margin-left: 2vw;
}

section {    
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Crear la adaptacion para moviles */

@media (max-width: 1000px) {
    section {
        display: flex;
        flex-direction: column;
    }

    article {
        margin: 25px 0;
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 10px;
    }

    input {
        border-color: red;
    }
  }
  