body {
    margin: 0px;
    width: 100%;
    background-image: linear-gradient(to right, yellow , red);
}

section > #Banner {
    height: 600px;
    overflow: hidden;
}

#header > div h1 {
    text-align: center;
    margin-top: -30vh;
    color: gold;
    font-size: 8em;
    -webkit-text-stroke: 2px black;
    font-family: "Metal Mania";
}

#inputs {    
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInput {
    background-color: #4d4d4d73;
    font-size: 1.2em;
    border: solid 2px #a08b12ce;
    border-radius: 15px;
    padding-left: 12px;
    margin: 0 2vw;    
}


/* Crear la adaptacion para moviles */

@media (max-width: 1000px) {
    section > #Banner {
        height: 500px;
        overflow: hidden;
    }

    #header > div h1 {
        font-size: 6em;
    }

    #inputs {
        display: flex;
        flex-direction: column;
    }

    article {
        margin: 25px 0;
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 10px;
    }

    input {
        border-color: red;
    }
  }
  
  @media (max-width: 800px) {
    section > #Banner {
        height: 400px;
        overflow: hidden;
    }

    #header > div h1 {
        font-size: 4em;
    }
  }